
        div{
            background-color: #39f;
            color: #fff;
        }
        main{
            width: 50%;
        }
        h1{
            background-color: #f80b0b;
            color: #f38d8d;
        }
        .heading{
            color: #f8f4f6;
        }
        body{
            background-color: #ccc;
        }
   